<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306132599412-402vmn49k660icivdtok7l9not9kdprc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306132599412-402vmn49k660icivdtok7l9not9kdprc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNPI1yTPTW24qewsb0RmqnVHuAwC8sapk</string>
	<key>GCM_SENDER_ID</key>
	<string>306132599412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-5b957</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-5b957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306132599412:ios:a98a1d49997cee07a58721</string>
</dict>
</plist>